annotated-types==0.8.0
anyio==4.15.1
blinker==1.9.0
click==8.5.0
colorama==0.4.6
contourpy==1.3.2
cvxopt==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
exceptiongroup==1.3.1
Flask==3.1.3
flask-cors==6.0.5
fonttools==4.65.0
graphviz==0.21
h11==0.16.0
httpcore2==2.13.0
httpx2==2.13.0
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.17.0
kiwisolver==1.5.1
lxml==6.1.3
MarkupSafe==3.0.3
matplotlib==3.10.9
networkx==3.4.2
numpy==2.2.6
openai==3.16.2
openpyxl==3.1.5
packaging==26.3
pandas==2.3.3
pillow==12.3.0
pm4py==2.7.23.7
pydantic==2.13.5
pydantic_core==2.46.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pytz==2026.3.post1
scipy==1.15.3
six==1.17.0
sniffio==1.3.1
tqdm==4.70.1
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
Werkzeug==3.1.8
